* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #4932AE;
}

div {
    text-align: center;
}

button {
    cursor: pointer;
}

.heading {
    font-family: 'Pacifico', cursive;
    color: #fff;
    background-color: #FFD100;
    text-align: left;
    padding: 5px;
    font-size: 2rem;
    text-shadow: 1px 1px #333;
}

.input {
    font-size: 1.5rem;
    color: #fff;
}

.input input {
    width: 38%;
    height: 50px;
    font-size: 35px;
    border-radius: 5px;
}

.input button {
    width: 10%;
    height: 50px;
    font-size: 35px;
}