* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #4932AE;
}

.heading {
	font-family: 'Pacifico', cursive;
    color: #000;
    background-color: #FFD100;
    text-align: left;
    padding: 5px;
    font-size: 2rem;
    text-shadow: 1px 1px #333;
}

.form{
	display: block;
	text-align: center;
	position: absolute;	
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	background-color:  #1f1d25;
	color: #fff;
	padding: 2rem;
	border-radius: 20px;
	font-weight: bold;
}

.form form {
	position: relative;
	display: inline-block;
    margin: 0 auto;
}

label {
    display: inline-block;
    width:100px;
    text-align: left;
}

input {
	padding: 0.5rem 1rem;
	border-radius: 5px;
}

button {
	padding: 0.5rem 1.5rem;
	border-radius: 10px;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
}

/* .Password{
	background-color: #c4bec0;
	margin-left:20px;
}

.username{
	background-color: #c4bec0;
	margin-left:20px;
}
.email{
	background-color: #c4bec0;
	margin-left:45px;
}
.cno{
	background-color: #c4bec0;
	margin-left:20px;
}
.heading{
	margin-top: 30px;
	text-align: center;
	color: red;
	font-size: 100px;
	font-style: italic;
} */
.submit{
	background-color: #709094;
	margin-left: 100px;
}
